.checkout {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    &-inner {}
    &-content {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    &-btn {
        background: #5A6DA3 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        border: 0;
        outline: 0;
        color: #fff;
        padding: 15px;
    }
}

.car-name{
    color: #CEC8C8; 
}
.checkout-img img {
    height: 300px;
    width: 100%;
}