.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 25px 15px;
    text-align: center;
    font-size: 15px;
    th {
        font-weight: 500;
        color: #000;
        vertical-align: initial;
    }
    tr {
        font-weight: 300;
        color: #9B9B9B;
    }
    td {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100px;
        white-space: nowrap;

    }

    tbody {
        tr:first-child {

            td {
                border-top: none;

            }
        }
    }
}

.table-title {
    font-weight: normal;
    padding: 15px 30px;
    border-bottom: 1px solid #C9C7C7;
}

.table-footer {
    font-weight: normal;
    padding: 15px 30px;
    border-top: 1px solid #C9C7C7;
}

.table-head {
    max-height: 39px;
    
}